@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  width: 320px;
  min-height: 400px;
  margin: 0;
  padding: 0;
  background-color: #f3f0ea; /* --bg-cream */
  color: #3d2c42; /* --text-purple */
  font-family: 'ONE Mobile POP', 'Pretendard', sans-serif;
  overflow-x: hidden;
}

#root {
  width: 100%;
  height: 100%;
}

@font-face {
  font-family: 'ONE Mobile POP';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/ONE-Mobile-POP.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Mochiy Pop One';
  src:
    url('https://cdn.jsdelivr.net/npm/@fontsource/mochiy-pop-one@4.5.1/files/mochiy-pop-one-japanese-400-normal.woff2')
      format('woff2'),
    url('https://cdn.jsdelivr.net/npm/@fontsource/mochiy-pop-one@4.5.1/files/mochiy-pop-one-latin-400-normal.woff2')
      format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

.font-mochiy {
  font-family: 'Mochiy Pop One', 'Pretendard', sans-serif !important;
  font-size: 14px;
  line-height: 1;
}

.font-one-mobile {
  font-family: 'ONE Mobile POP', 'Pretendard', sans-serif !important;
  font-size: 16px !important;
  line-height: 1 !important;
}
