@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'ONE Mobile POP';
  src: url('../../shared/assets/fonts/ONEMobilePOP.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* Cross-browser Range Input Reset */
input[type='range'] {
  -webkit-appearance: none;
  width: 100%;
  background: transparent;
}

input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
}

input[type='range']:focus {
  outline: none;
}
